# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

.python-version

# IDEs
# Ignore everything in VSCode except extensions.json
.vscode
!.vscode/extensions.json
.idea/
*.out

pytestout.xml
*.DS_Store
.fleet

dist/
